header {
  text-size-adjust: 30px;
  text-align: center;
  font-size: 30px;
}

h2 {
  color: red;
  background-color:rgb(162, 224, 162);
}

p {
  color:blue;
  background-color:rgb(119, 119, 119);
  text-size-adjust: 20px;
}
