header {
  text-size-adjust: 30px;
  text-align: center;
  font-size: 30px;
}

h2 {
  color: red;
  background-color:rgb(162, 224, 162);
}

p {
  color:blue;
  background-color:rgb(119, 119, 119);
  text-size-adjust: 20px;
}

img src {
  width: 150px;
  lenght: 150px;
}
aside {
  left: 0;
  top: 0;
  width: 250px;
  height: 750px;
  background-color:rgb(50, 50, 50);
  color: blue;
  padding: 20px;
  margin: 10px;
}
main {
  left: 0;
  width: 50%;
  height: 40%
  background-color:rgb(110,110,110);
  color: green;
  padding: 10%;
  margin: 10%;
}
section {
  right: 0;
  width: 50%;
  height: 40%
  background-color:rgb(180,180,180);
  color: yellow;
  padding: 10%;
  margin: 10%;
}
